#div-about {
  position: absolute;
  width: 247px;
  height: 201px;
  left: 152px;
  top: 535px;
}

#about-title {
  width: 242.71px;
  height: 21px;
  left: 152px;
  top: 535px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  color: #F5F5F5;  
}

#about-text {
  width: 247px;
  height: 61px;
  left: 152px;
  top: 561px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  
  color: #DCDCDC;
}