#social {
  position: absolute;
  width: 317px;
  height: 64px;
  left: 116px;
  top: 760px;

  background: #161619;
  border-radius: 0px 0px 10px 10px;
}

#linkedin {
  left: 73px;
  right: 219px;;
  top: 20px;
  bottom: 20px;
  
  background: #161619;
}

#facebook {
  margin-left: 24px;
  right: 270px;
  top: 20px;
  bottom: 20px;
  
  background: #161619;
}

#instagram {
  left: 24px;
  right: 121px;
  top: 20px;
  bottom: 20px;
  
  background: #161619;
}

#github {
  left: 24px;
  right: 72px;
  top: 20px;
  bottom: 20px;
  
  
  background: #161619;
}