#div-interests {
  position: absolute;
  width: 242.71px;
  height: 21px;
  left: 152px;
  top: 649px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  color: #F5F5F5;
}

#interests-title {
  width: 242.71px;
  height: 21px;
  left: 152px;
  top: 535px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  color: #F5F5F5; 
}

#interests-text {
  width: 247px;
  height: 61px;
  left: 152px;
  top: 675px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;

  color: #DCDCDC;
}